* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    display: block;
    content: "";
    height: 60px;
}

a {
    color: inherit;
}

.win{
    position: fixed;
    top: 0;
    z-index: 9999;
}

nav > button{
    background-color: #00796B;
}

.unorder{
    width: 100%;
    list-style-type: none;
}

.list{
    float: left;
}

.socials{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    width: 100%;
}

.navbar-custom {
    background-color: #00796B;
    /* width: 100%; */
}

.title-section{
    background-image: url("../public/title.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    height: 650px;
}

.title-header {
    font-size: 48px;
    color: black;
}

.title-description {
    font-size: 30px;
    color: black;
}

.title-button {
    height: 53px;
    width: 137px;
    background-color: #fec103;
    border-color: #fec103;
    border-radius: 10px;
    box-shadow: none;

}

.about-section {
    background-color: #333333;
    height: 550px;
    color: white;
    /* width: 100%; */
    /* overflow-y: scroll; */
    /* overflow-x: scroll; */

}
.about-description {
    /* overflow-y: scroll; */
    /* width: min-content; */
    background-color: #333333;
    color: white;
    padding: 3rem;
    border-color: #333333;

}

.about-img-container {
    background-color: #333333;
    margin-left: 1.5rem;
    border-color: #333333;
}



.services-section {
    background-color: #138679;

}

.service{

    background-color: #138679;
    border-color: #138679;
}

.service-image{
    border-radius: 30px;
}

.service-button{

            background-color: #fec103;
            border-color: #fec103;
            border-radius: 10px;
            box-shadow: none;
}

.quote-section {
    height: 500px;
    background-color: #ffc107;
    /* color: black; */
}
.f{
    visibility: hidden;
}


/* .quote-scroll-container{
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    white-space: nowrap;

}

.quote-container{
    background-color: #ffc107;
    scroll-snap-align: start;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-color: #ffc107;
    
} */

.spacer{
    margin-top: 43px;
}

.contact-section {
    /* height: 4310px; */
    width: 100%;
    background-color: #148d7f;}

.contact-text{
    background-color: #148d7f;
    color: white;
    border-color: #148d7f;
    /* overflow-y: scroll; */
    
}

.contact-form{
    background-color: #148d7f;
    color: white;
    border-color: #148d7f;
}

.contact-container{
    color: white;
}

.name, .email, .inquiry, .message {
    background-color: #259588;
    border-color: #259588;

}

.inquiry{
    color: white;
}

.form-button{

            background-color: #fec103;
            border-color: #fec103;
            border-radius: 10px;
            box-shadow: none;
}


footer {
    height: 328px;
    background-color: #00796b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
